In [15]:
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.datasets import load_boston

titanic_df = pd.read_csv("titanic.csv", delimiter='\t')
%ls
titanic_df = titanic_df.drop(['PassengerId','Name','Cabin', 'Ticket'], axis=1)
titanic_df

Regression.ipynb  titanic.csv

     Survived  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           0       3    male  22.0      1      0    7.2500        S
1           1       1  female  38.0      1      0   71.2833        C
2           1       3  female  26.0      0      0    7.9250        S
3           1       1  female  35.0      1      0   53.1000        S
4           0       3    male  35.0      0      0    8.0500        S
5           0       3    male   NaN      0      0    8.4583        Q
6           0       1    male  54.0      0      0   51.8625        S
7           0       3    male   2.0      3      1   21.0750        S
8           1       3  female  27.0      0      2   11.1333        S
9           1       2  female  14.0      1      0   30.0708        C
10          1       3  female   4.0      1      1   16.7000        S
11          1       1  female  58.0      0      0   26.5500        S
12          0       3    male  20.0      0      0    8.0500        S
13          0       3    male  39.0      1      5   31.2750        S
14          0       3  female  14.0      0      0    7.8542        S
15          1       2  female  55.0      0      0   16.0000        S
16          0       3    male   2.0      4      1   29.1250        Q
17          1       2    male   NaN      0      0   13.0000        S
18          0       3  female  31.0      1      0   18.0000        S
19          1       3  female   NaN      0      0    7.2250        C
20          0       2    male  35.0      0      0   26.0000        S
21          1       2    male  34.0      0      0   13.0000        S
22          1       3  female  15.0      0      0    8.0292        Q
23          1       1    male  28.0      0      0   35.5000        S
24          0       3  female   8.0      3      1   21.0750        S
25          1       3  female  38.0      1      5   31.3875        S
26          0       3    male   NaN      0      0    7.2250        C
27          0       1    male  19.0      3      2  263.0000        S
28          1       3  female   NaN      0      0    7.8792        Q
29          0       3    male   NaN      0      0    7.8958        S
..        ...     ...     ...   ...    ...    ...       ...      ...
126         0       3    male   NaN      0      0    7.7500        Q
127         1       3    male  24.0      0      0    7.1417        S
128         1       3  female   NaN      1      1   22.3583        C
129         0       3    male  45.0      0      0    6.9750        S
130         0       3    male  33.0      0      0    7.8958        C
131         0       3    male  20.0      0      0    7.0500        S
132         0       3  female  47.0      1      0   14.5000        S
133         1       2  female  29.0      1      0   26.0000        S
134         0       2    male  25.0      0      0   13.0000        S
135         0       2    male  23.0      0      0   15.0458        C
136         1       1  female  19.0      0      2   26.2833        S
137         0       1    male  37.0      1      0   53.1000        S
138         0       3    male  16.0      0      0    9.2167        S
139         0       1    male  24.0      0      0   79.2000        C
140         0       3  female   NaN      0      2   15.2458        C
141         1       3  female  22.0      0      0    7.7500        S
142         1       3  female  24.0      1      0   15.8500        S
143         0       3    male  19.0      0      0    6.7500        Q
144         0       2    male  18.0      0      0   11.5000        S
145         0       2    male  19.0      1      1   36.7500        S
146         1       3    male  27.0      0      0    7.7958        S
147         0       3  female   9.0      2      2   34.3750        S
148         0       2    male  36.5      0      2   26.0000        S
149         0       2    male  42.0      0      0   13.0000        S
150         0       2    male  51.0      0      0   12.5250        S
151         1       1  female  22.0      1      0   66.6000        S
152         0       3    male  55.5      0      0    8.0500        S
153         0       3    male  40.5      0      2   14.5000        S
154         0       3    male   NaN      0      0    7.3125        S
155         0       1    male  51.0      0      1   61.3792        C

[156 rows x 8 columns]